<div class="wrapper">
  <%# header %>
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <div class="main">
    <%# トップ画面の画像 %>
    <div class="top-img-box">
        <%= image_tag "top_img.png", class: "top-img"%>
    </div>

    <%# サービス紹介 %>
    <div class="introduction">
      <h4 class="topic">簡単にお店を見つけられる、Quick Pickのサービス！</h4>
    </div>

    <div class="intro-img">
      <%= image_tag "intro1.png", class: "left-intro"%>
      <%= image_tag "intro2.png", class: "right-intro"%>
    </div>

    <%# 画面遷移ボタン %>
    <div class="btn-area">
      <%= button_to 'お店を探す', searchs_path, method: :get, class: "btn btn-success"%>
    </div>
    <div class="login_area">
      <%= link_to 'ログインはこちら', '#', class: "login" %>
    </div>
  </div>
</div>